.Box{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.Contact{
    padding-top: 22.5vh;
    padding-bottom: 10vh;
}

.Info{
    padding-bottom: 5vh;
}