.Box{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.Expand{
    padding-top: 5vh;
    color: rgb(25, 187, 25);
}
.GText{
    font-size: 70px;
}
.RText{
    font-size: 80px;
}
.OText{
    font-size: 90px;
}
.WText{
    font-size: 100px;
}
.Business{
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: rgb(30, 140, 190);
}
.YourSite{
    color: rgb(227, 225, 255);
}